<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 border">
         <table class="table table-dark table-striped ">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Lat</th>
                <th>City</th>
                <th>Zip code</th>
            </tr>
          </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.id}}</td>
                    <td>{{u.name.firstname | uppercase}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.address.geolocation.lat}}</td>
                    <td>{{u.address.city}}</td>
                    <td>{{u.address.zipcode}}</td>
    <!--<td>{{u.id}}</td>
                    <td>{{u.name | uppercase}}</td>
                    <td>{{u.department}}</td>
                    <td>{{u.salary | currency :"INR"}}</td>
                    <td>{{u.city}}</td>
                    <td>{{u.doj | date}}</td>-->
                </tr>
            </tbody>

         </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
